# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pablo\Documents\1-CURSOS_ESTUDIOS_DOCUMENTOS\Insa\SimEvenmtDisc\Projet Simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
